{% extends 'base.html' %}

{% block content %}

    <h2>Doctors & Specialists</h2>
    <br/>

{% for doctor in doctor_list %}

<div class="card">
    <div class="card-header">
        {{ doctor.name }}
    </div>
    <div class="card-body">
      <h6 class="card-title">Specialty: {{ doctor.specialty }}</h6>
      <p class="card-text"> 
        <strong>Address:</strong> {{ doctor.address }}<br/>
        <strong>Zip Code:</strong> {{ doctor.zip_code }}<br/>
        <strong>Phone:</strong> {{ doctor.phone }}<br/>
        <!-- add Clinic and Fax: -->
        <!-- <strong>Clinic:</strong> {{ doctor.clinic }}<br/> -->
    
      </p>
      <!-- Add edit button -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
    <br/>
    <br/>
{% endfor %}
    
{% endblock %}