<nav class="navbar fixed-bottom navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid con justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Security</a>
            </li>
        </ul>

        <p class="nav justify-content-center text-secondary">
            <!-- styling inlinie text small em -->
            <em>&copy; Incidousflow Inc. All Rights Reserved</em>
        </p>


    </div>

</nav>




    <!-- <footer>
        <div class="footer fixed-bottom">
            <div class="row">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            </div> 

            <div class="row">
            <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Career</a></li>
            </ul>
            </div>

            <div class="row">
            <center>INCIDOUSFLOW Copyright © 2021 Incidousflow Inc. - All rights reserved || Designed By: Chas</center>
            </div>
        </div>
    </footer> -->




