<nav class="navbar fixed-bottom navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid con justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Security</a>
            </li>
        </ul>

        <p class="nav justify-content-center text-secondary">
            <!-- styling inlinie text small em -->
            <em>&copy; Incidousflow Inc. All Rights Reserved</em>
        </p>


    </div>

</nav>