{% extends 'base.html' %}

{% block content %}

    <h3>Milestone Summary</h3>
    <br/>

{% for milestone in milestone_list %}

<div class="card">
    <div class="card-header">
        <h3>2 Month Milestones</h3>
    </div>
    <div class="card-body">
      <p class="card-text"> 
        <strong>Calms down when spoken to or picked up</strong> {{ milestone.calms }}<br/>
        <strong>Looks at your face</strong> {{ milestone.looks }}<br/>
        <strong>Seems happy to see you when you walk up</strong> {{ milestone.happy }}<br/>
        <strong>Smiles when you talk or smile to them</strong> {{ milestone.smiles }}<br/>
        <strong>Makes sounds other than crying</strong> {{ milestone.sounds }}<br/>
        <strong>Reacts to loud sounds</strong> {{ milestone.loud }}<br/>
        <strong>Watches you as you move</strong> {{ milestone.watches }}<br/>
        <strong>Looks at a toy for several seconds</strong> {{ milestone.toy }}<br/>
        <strong>Holds head up when on tummy</strong> {{ milestone.head }}<br/>
        <strong>Move both arms and both legs</strong> {{ milestone.move }}<br/>
        <strong>Opens hands briefly</strong> {{ milestone.hands }}<br/>

      </p>
     
    </div>
  </div>
    <br/>
    <br/>
{% endfor %}
    
{% endblock %}